* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.title {
  text-align: center;
}

details {
  cursor: default;
  user-select: none;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
  max-width: 700px;
  margin-bottom: 6px;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

.answer {
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

hr {
  margin: 40px 0;
  border: 0;
  border-top: 1px dashed rgb(75, 133, 0);
  border-bottom: 2px solid rgb(156, 39, 224);
  height: 3px;
  width: 50%;
}
